/* GLOBALES
-------------------------------------------------- */


body {
  padding-top: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
  width: 100%;
  overflow-x: hidden;
}

main {
  flex-grow: 1;
  width: 100%;
  overflow-x: hidden;
}

footer{
  font-size: small;
  margin-top: 2rem;

}




/* MIS ESTILOS
-------------------------------------------------- */

.nav-link {
  font-size: 1.2rem;
}

.subcomisiones {
  margin-top: 10px;
}

iframe {
  width: 100%;
  height: 800px;
  border: none;
  margin-top: 2rem;
}

.seccion {
  margin-top: 3rem;
}


h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.subtitulo {
  margin-top: 2.5rem;
}

.link-negro a {
  color: black;
  font-size: 1.1rem;
}

.listado-cursos {
  margin-top: 2rem;
}

.container {
  margin-left: 2rem;
  margin-right: 3rem;
}

.imagen-circular {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}


/* CAROUSEL
-------------------------------------------------- */

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}




/* MARKETING
-------------------------------------------------- */

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;

}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
  font-size: medium;
}



/* Featurettes
------------------------- */

.featurette {
  margin-bottom: 0;
  width: 100%;
}

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  color: #007BFF;
  letter-spacing: -.05rem;
  margin-top: 14rem;
}

.featurette p {
  line-height: 1.6;
  margin-bottom: 20px;
}

.featurette p:nth-child(2) {
  margin-top: 20px;
}




/* RESPONSIVE
-------------------------------------------------- */
@media (min-width: 375px) {
  footer{
    font-size: smaller;
  }

  .row {
    margin-right: 2rem;
  }

  }




@media (min-width: 576px) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }


  .featurette-heading {
    font-size: 2rem;
    font-weight: 500;
  }

  .navbar-nav {
    font-size: 2rem;
  }

  .nav-link {
    font-size: 0.7rem;
    width: max-content;
  }
}


@media (min-width: 768px) {
  .nav-link {
    font-size: 0.8rem;
    width: max-content;
  }
}

@media (min-width: 992px) {
  .nav-link {
    font-size: 1.2rem;
    width: max-content;
  }
}

@media (min-width: 1200px) {
  .nav-link {
    font-size: 1.4rem;
    width: max-content;
  }
}